{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function init () {
    document.getElementById('show').style.visibility = 'hidden';
    document.getElementById('explain').style.visibility = 'hidden';
    document.getElementById('explainbutton').style.visibility = 'hidden';
    document.getElementById('explainfull').style.visibility = 'hidden';
    document.getElementById('explainhead').style.visibility = 'hidden';
  }
  function show () {
    document.getElementById('show').style.visibility = 'visible';
    document.getElementById('explainbutton').style.visibility = 'visible';
  }
  function explain () {
    document.getElementById('explain').style.visibility = 'visible';
    document.getElementById('explainhead').style.visibility = 'visible';
    document.getElementById('explainfull').style.visibility = 'visible';
  }
</script>

<body onload="init()">

  <p id="name">Name: {{ name.get_puzzle_name() }}</p>
  <input type="button" value="Zeigs mir" onclick="show()">
  <p id="show">{{ name.get_funny_name() }}</p>

  {% if name.resolution %}
  <input type="button" id="explainbutton" value="Erklärs mir" onclick="explain()">
  <p id="explain">{{ name.resolution }}</p>
  {% endif %}

  {% if name.explanation %}
  <p id="explainhead">Beschreibung:</p>
  <p id="explainfull">{{ name.explanation }}</p>
  {% endif %}

</body>

{% endblock %}
